body {
  background-color: #2196F3;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content:center;
  padding-top:100px;
}

.grid-item {
  background-color: #2196F3;
  border: 2px solid black;
  display:flex;
  justify-content:center;
  align-items: center;
}

.grid-item:nth-child(n+7) {

  border-bottom:0;
}
.grid-item:nth-child(-n+3) {
  border-top:0;
}
.grid-item:nth-child(3n) {
  border-right:0;
}
.grid-item:nth-child(3n+1) {
  border-left:0;
}

.grid-item:hover {
  opacity:0.5;
}


.fade-in {
	opacity: 1;
  animation-name: fadeInOpacity;
  animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
    opacity: 1;
    font-size:3em;
	}
}